<p id="notice"><%= notice %></p>

<h1>The last episode</h1>
<div class="center">
    <button class="btn btn-default" style="text-align: center"> <%= link_to 'New Post', new_post_path %> </button>
</div>
<br>
<br>
<br>
<table>
<div class="container">
    <div class="row">
                <% @posts.each do |post| %>
                <div class="col-md-4" >
                <h3><%= post.title %></h3>
                    <br>
                <p><%= image_tag post.picture, class:'img-responsive' %></p>
                    <br>
                <p style="text-align: justify;"><%= post.content %></p>
                    <br>
                <h2>Dernier épisode vu</h2>
                <p>Saison: <%= post.season %>    Épisode: <%= post.episode %></p>
                    <br>
                    <br>
                        <div class="center">
                            <button class="btn btn-default"><%= link_to 'Show  ', post %></button>
                
                            <button class="btn btn-default"><%= link_to 'Edit', edit_post_path(post) %></button>
                
                            <button class="btn btn-default"><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></button>
                        </div>

                 </div>  
                <% end %>
 
           
    </div>
</div>
</table>

<br>


